
/lnx/
/win/

/tags
/cscope.out
/_vim/cscope.files
/_vim/cscope.in?

/date.now.txt

/mobile/*.apk

/[0-9a-z].txt
/[0-9a-z].diff
/[0-9a-z].bak

/src3/207__buildlist.log
/src3/208__buildlist2.log

/log01d.txt
/log01u.txt
/src3/301__CMSS200A.fw
/src3/302__fwImageFile.bin
/src3/301__CMSS200A.fw.txt
/src3/302__fwImageFile.bin.txt
/src3/301__CMSS200A.fw.hexdump.txt
/src3/302__fwImageFile.bin.hexdump.txt



